$sidebar-width: 15em;

.root {
	display: flex;
	flex-direction: row;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	max-width: 100vw;
	max-height: 100vh;
//	overflow-y: auto;
}

.nav a img {
	padding: 1em;
}

.sidebar-darken {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: 0;
}

.sidebar-darken.toggled {
  height: 100vh;
  width: 100vw;
  opacity: 0;
}

.sidebar {
/*   top: 0; */
/*   bottom: 0; */
/*   left: -$sidebar-width; */
/*   width: $sidebar-width; */
  background-color: white;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);

/*   -webkit-transition: left 0.5s ease, opacity 0.2s ease; */
/*   -moz-transition: left 0.5s ease, opacity 0.2s ease; */
/*   -o-transition: left 0.5s ease, opacity 0.2s ease; */
/*   transition: left 0.5s ease, opacity 0.2s ease; */

/*   opacity: 0; */
/*   z-index: 101; */
//	width: 12vw;
	height: 100vh;
	z-index: 1000;
}

.nav-item {
  padding: 0 0.5em;
}

.nav-item a {
  color: black;
}

.nav-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.nav-link {
	padding: 0 1rem;
}

.nav-link img {
	padding: 0;
}

.sidebar-toggle {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 99;
}

.root > .sidebar-toggle {
	left: 1em;
}

.sidebar-toggle.toggled, .inner-toggle {
	display: none;
}

.sponsor {
	width: 11vw;
	position: absolute;
	color: #1a3183 !important;
	bottom: 0px;
	text-align: center;
}

.sponsor img {
	width: 11vw;
}

.sponsor a {
	display: block;
}

.esinware {
	text-decoration: none;
	margin: 3px;
}

.main-content {
	height: 100vh;
	max-height: 100vh;
//	background-image: url("https://dev.esinware.it/federginnastica/assets/img/sfondo-ginnasta.jpg");
//  background: url("/assets/img/sfondo-ginnasta.jpg") no-repeat center center fixed;
//	background-color: rgba(255, 255, 255, 0.7);
	display: flex;
	flex-direction: column;
}

.content {
	position: relative;
	flex-grow: 2;
	max-height: 90vh;
	height: 90vh;
	padding: 2%;
}

.timeline {
	height: 13%;
}

.sponsor span {
	display: block;
}

.btn-primary.btn.active {
	background-color: red;
}

::ng-deep .black {
	color: #000000;
}

::ng-deep .gold {
	color: #af8002;
}

@media only screen and (max-width: 1023.9px) {
	.sidebar.toggled {
		display: none;
	}
	
	.sidebar {
		position: absolute;
		width: 60vw;
	}
	
	.inner-toggle {
		display: block;
	}
	
	.inner-toggle.toggled {
		display: none;
	}
	
	.main-content {
		width: 100vw;
	}
	
	.nav a img {
		width: 10em;
	}
}

@media only screen and (min-width: 1024px) {	
	.main-content {
		width: 88vw;
	}
	
	.sidebar {
		position: relative;
		width: 15vw;
	}
	
	.inner-toggle {
		display: none;
	}
	
	.nav a img {
//		width: 100%;
	}
}