<div class="inccont">
	<div class="incipit text">
		<h3>Il progetto della Biblioteca Digitale della rivista storica "IL GINNASTA" 
		(autorizzazione del Tribunale di Roma n.862 del 21 aprile 1949), patrimonio tutelato dal Codice dei beni culturali e 
		del paesaggio, è stato promosso in occasione del 150° di fondazione della FEDERAZIONE GINNASTICA D'ITALIA. 
		La storia della FGI raccontata in oltre cento anni - dal 1900 ad oggi - tutti da sfogliare!</h3>
	</div>
	<div class="sx text">
		<h3>"Il Ginnasta è una palestra libera a tutti. 
		Esso si augura di poter divenire lo specchio fedele del movimento ginnastico del nostro paese" (Romano Guerra - 15 giugno 1902)</h3>
	</div>
</div>