.hidden {
	display: none;
}

.btn.left {
	position: absolute;
	right: 0;
  z-index: 999;
}

#book-container {
//	height: 90vh;
	width: 75vw;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	padding-top: 2vh;
}

#flipbook, .magazine {
	margin: auto !important;
}

::ng-deep .hidden {
	visibility: hidden;
}

.magazine {
//	height: 90vh;
	width: 100vw;
	position: relative;
	overflow: hidden;
}

.zoom {
	position: relative;
	height: 95%;
	z-index: 20;
}

.button-container {
	position: relative;
}