.hidden {
	display: none;
}

.btn.left {
	position: absolute;
	left: 5em;
  z-index: 999;
}

#book-container {
//	height: 90vh;
	width: 75vw;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	padding-top: 2vh;
}

#flipbook, .magazine {
	margin: auto !important;
}

::ng-deep .hidden {
	visibility: hidden;
}

.magazine {
//	height: 90vh;
	width: 100vw;
	position: relative;
	overflow: hidden;
}

.zoom {
	height: 90vh;
}