.justify-content-center {
  display: flex !important;
  justify-content: center !important;
}

.list-group-item-action:hover, .list-group-item-action:focus {
	background-color: #ebc32d;
}

.debug {
	color: #ebc32d;
}